## Exploratory Data Analysis

__Agricultural total factor productivity (USDA)__ Available at: https://github.com/owid/owid-datasets/blob/master/datasets/Agricultural%20total%20factor%20productivity%20(USDA)/Agricultural%20total%20factor%20productivity%20(USDA).csv

In [15]:
import pandas as pd

In [16]:
dataset = pd.read_csv("downloads/Agricultural total factor productivity (USDA).csv")

In [17]:
dataset

,Entity,Year,tfp,output,inputs,ag_land_index,labor_index,capital_index,materials_index,output_quantity,...,ag_land_quantity,labor_quantity,capital_quantity,machinery_quantity,livestock_quantity,fertilizer_quantity,animal_feed_quantity,cropland_quantity,pasture_quantity,irrigation_quantity
0,Afghanistan,1961,65.0814,44.8285,68.8807,91.6812,44.5145,141.5215,35.9132,2566730,...,10571,1704,8866,5,6339,57345,2068912,7700,30000,2380
1,Afghanistan,1962,64.0637,45.6182,71.2075,92.2016,45.0207,163.6547,36.3829,2611942,...,10631,1723,10253,6,6228,58146,2082012,7760,30000,2380
2,Afghanistan,1963,61.6217,45.9729,74.6051,92.6352,45.5528,202.0577,37.0801,2632254,...,10681,1743,12659,8,6547,59694,2007829,7810,30000,2380
3,Afghanistan,1964,65.1109,49.0775,75.3752,93.1816,46.1108,203.8875,37.5294,2810010,...,10744,1765,12773,8,6732,60006,2140272,7873,30000,2380
4,Afghanistan,1965,63.8587,51.2121,80.1960,93.1990,46.6948,270.9746,38.5949,2932230,...,10746,1787,16976,12,6946,61821,2171226,7875,30000,2380
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12177,Zimbabwe,2015,100.0000,100.0000,100.0000,100.0000,100.0000,100.0000,100.0000,2191374,...,2574,4184,8379,1154,5654,93807,975873,2252,12100,182
12178,Zimbabwe,2016,94.8110,98.1051,103.4744,103.8526,101.2662,97.9759,128.2406,2149850,...,2673,4237,8210,1174,5705,146857,1000004,2349,12100,184
12179,Zimbabwe,2017,101.9830,104.9815,102.9402,99.6960,102.3605,96.4853,141.3410,2300538,...,2566,4283,8085,1180,5601,160356,1113784,2240,12100,187
12180,Zimbabwe,2018,118.1959,121.0832,102.4428,102.8520,103.4662,95.3222,124.3694,2653386,...,2647,4330,7987,1201,5681,146379,940395,2321,12100,187
12181,Zimbabwe,2019,114.9524,114.2108,99.3549,92.5939,105.7368,94.1207,125.9910,2502786,...,2383,4425,7887,1210,5784,147631,957427,2057,12100,187

__Entity  :__ Country

__Year  :__ Year of recorded data

__tfp  :__ Total factor productivity

__output  :__ Total output

__inputs  :__ Total input

__ag_land_index  :__ Indicator showing developement of land costs

__labor_index  :__ Indicator showing developement of labor costs

__capital_index  :__ Indicator showing developement of capital costs

__materials_index  :__ Indicator showing developement of material costs

__output_quantity  :__ Total amount of agriculture goods produced

__crop_output_quantity  :__ Total amount of crop production

__animal_output_quantity  :__ Total amount of animal production

__fish_output_quantity  :__ Total amount of fishing production

__ag_land_quantity  :__ Total amount of land avilable for production

__labor_quantity  :__ Total amount of labor available for production

__capital_quantity  :__ Total amount of capital availabe for production 

__machinery_quantity  :__ Total amount of machinery available in agroindustry

__livestock_quantity  :__ Amount of inventory available for storing goods

__fertilizer_quantity  :__ Total amount of fertilizer used in the production

__animal_feed_quantity  :__ Total amount of food used in agropecuary

__cropland_quantity  :__ Amount of reseorces dedicated to crop

__pasture_quantity  :__ Amaount of resources dedicated to pasture

__irrigation_quantit  :__ Amount of resources dedicated to irrigation

In [18]:
info = dataset.info()
info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12182 entries, 0 to 12181
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Entity                  12182 non-null  object
 1   Year                    12182 non-null  int64
 2   tfp                     12182 non-null  float64
 3   output                  12182 non-null  float64
 4   inputs                  12182 non-null  float64
 5   ag_land_index           12182 non-null  float64
 6   labor_index             12182 non-null  float64
 7   capital_index           12182 non-null  float64
 8   materials_index         12182 non-null  float64
 9   output_quantity         12182 non-null  int64
 10  crop_output_quantity    12182 non-null  int64
 11  animal_output_quantity  12182 non-null  int64
 12  fish_output_quantity    12182 non-null  int64
 13  ag_land_quantity        12182 non-null  int64
 14  labor_quantity          12182 non-null  int64
 15  capital_quantity        12182 non-null  int64
 16  machinery_quantity      12182 non-null  int64
 17  livestock_quantity      12182 non-null  int64
 18  fertilizer_quantity     12182 non-null  int64
 19  animal_feed_quantity    12182 non-null  int64
 20  cropland_quantity       12182 non-null  int64
 21  pasture_quantity        12182 non-null  int64
 22  irrigation_quantity     12182 non-null  int64
dtypes: float64(7), int64(15), object(1)
memory usage: 2.1+ MB

In [19]:
descriptive_stats = dataset.describe()
descriptive_stats

,Year,tfp,output,inputs,ag_land_index,labor_index,capital_index,materials_index,output_quantity,crop_output_quantity,...,ag_land_quantity,labor_quantity,capital_quantity,machinery_quantity,livestock_quantity,fertilizer_quantity,animal_feed_quantity,cropland_quantity,pasture_quantity,irrigation_quantity
count,12182.000000,12182.000000,12182.000000,12182.000000,12182.000000,12182.000000,12182.000000,12182.000000,1.218200e+04,1.218200e+04,...,1.218200e+04,1.218200e+04,1.218200e+04,1.218200e+04,1.218200e+04,1.218200e+04,1.218200e+04,1.218200e+04,1.218200e+04,12182.000000
mean,1990.452225,85.034204,69.855250,83.098867,91.109252,120.246137,70.712611,74.456554,6.542024e+07,4.006052e+07,...,5.388450e+04,2.555985e+04,9.898867e+04,4.486205e+04,4.970279e+04,4.139921e+06,8.245834e+07,4.040027e+04,8.774184e+04,6993.843047
std,17.071525,29.359555,33.016545,33.656404,31.582940,94.722016,35.177249,61.568852,2.580072e+08,1.591937e+08,...,1.907819e+05,1.086341e+05,3.803203e+05,2.005774e+05,1.842846e+05,1.617579e+07,3.188277e+08,1.414526e+05,3.150928e+05,27774.138414
min,1961.000000,8.169600,3.259300,1.291900,7.192400,6.620900,0.361300,0.030300,5.367000e+03,5.000000e+01,...,2.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,3.000000e+00,1.200000e+01,1.070000e+02,0.000000e+00,0.000000e+00,0.000000
25%,1976.000000,66.892625,42.721925,57.441725,75.370125,71.991650,43.835950,34.044175,9.864915e+05,5.258850e+05,...,8.350000e+02,2.190000e+02,7.080000e+02,6.400000e+01,9.042500e+02,1.991875e+04,4.546075e+05,6.142500e+02,5.300000e+02,21.000000
50%,1991.000000,83.260550,70.382000,85.782950,96.241900,98.763350,71.140800,70.613500,4.124253e+06,2.375536e+06,...,3.558500e+03,1.114500e+03,4.443500e+03,6.970000e+02,3.759000e+03,1.487130e+05,3.145580e+06,2.594000e+03,4.000000e+03,200.000000
75%,2005.000000,99.628425,95.665225,101.712100,104.328075,127.240975,96.596500,100.000000,1.860507e+07,1.114921e+07,...,1.604200e+04,5.017000e+03,2.810450e+04,7.270500e+03,1.580225e+04,9.756272e+05,2.297098e+07,1.244575e+04,3.000000e+04,1699.250000
max,2019.000000,401.810000,231.017100,264.651900,622.664200,1108.744200,443.557200,1245.424600,4.201748e+09,2.540194e+09,...,2.178532e+06,1.057446e+06,6.166273e+06,2.906565e+06,2.281743e+06,2.174210e+08,4.819337e+09,1.577808e+06,3.346286e+06,335404.000000

In [20]:
# calculate how many entries are 0 and calculate the percentage of the null values in each variable
y = dataset.isnull().sum()
y.sort_values(ascending=False)
z = len(dataset.Entity)
pnull = y/z
#count unique values in each variable
uni_val = dataset.nunique()
types = dataset.dtypes
#combine the information in a DF for each variable
variables = pd.DataFrame({'types': types, 'perc_null' :pnull, 'uni_val' : uni_val,}).reset_index().sort_values(by = 'perc_null', ascending=False)

variables

                     index    types  perc_null  uni_val
0                   Entity   object        0.0      215
12    fish_output_quantity    int64        0.0     7386
21        pasture_quantity    int64        0.0     5171
20       cropland_quantity    int64        0.0     7219
19    animal_feed_quantity    int64        0.0    12084
18     fertilizer_quantity    int64        0.0    11630
17      livestock_quantity    int64        0.0     8205
16      machinery_quantity    int64        0.0     5766
15        capital_quantity    int64        0.0     8405
14          labor_quantity    int64        0.0     5941
13        ag_land_quantity    int64        0.0     7898
11  animal_output_quantity    int64        0.0    12144
1                     Year    int64        0.0       59
10    crop_output_quantity    int64        0.0    12146
9          output_quantity    int64        0.0    12171
8          materials_index  float64        0.0    11912
7            capital_index  float64        0.0    11887
6              labor_index  float64        0.0    11204
5            ag_land_index  float64        0.0    10942
4                   inputs  float64        0.0    11896
3                   output  float64        0.0    11914
2                      tfp  float64        0.0    11882
22     irrigation_quantity    int64        0.0     3585